@charset "UTF-8";
/* 定義
---------------------------------------------------------- */
/* body共通
---------------------------------------------------------- */
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #23171B;
  background: #fffffe;
}
body ul li {
  list-style: none;
}
body img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}
body p {
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  body p {
    font-size: 0.875rem;
  }
}
body a {
  text-decoration: none;
  color: inherit;
}
body .d-flex {
  display: flex;
}
body .container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 4%;
}
@media screen and (max-width: 768px) {
  body .container {
    width: 90%;
    padding: 0;
  }
}
body section:first-of-type {
  margin-top: 11.5rem;
}
body section:last-of-type {
  margin-top: 12.5rem;
}
body .sec-title {
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.4rem;
  padding-bottom: 5rem;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  body .sec-title {
    font-size: 6.4vw;
  }
}
body .sec-title::before {
  content: "";
  border-top: 1px solid #ccc;
  width: 2.5rem;
  margin-right: 1.5rem;
}
@media screen and (max-width: 768px) {
  body .sec-title::before {
    width: 1.5rem;
    margin-right: 0.5rem;
  }
}
body .pc-only {
  display: block;
}
@media screen and (max-width: 768px) {
  body .pc-only {
    display: none;
  }
}
body .sp-only {
  display: none;
}
@media screen and (max-width: 768px) {
  body .sp-only {
    display: block;
  }
}

/* header
---------------------------------------------------------- */
.header {
  color: #fff;
  background-color: #23171B;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  opacity: 0.9;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__wrap .logo {
  width: 32px;
  padding-bottom: 12px;
}
.header__wrap .logo a {
  vertical-align: bottom;
}
.header__wrap .d-flex {
  gap: 24px;
}
.header__font {
  font-family: "Raleway", sans-serif;
  font-size: 0.875rem;
}

/* hero
---------------------------------------------------------- */
.hero {
  position: relative;
  height: 100vh;
  background-color: #fffffe;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: img_anime 16s ease infinite;
}
.hero__ttl {
  font-family: "Raleway", sans-serif;
  color: #fff;
  position: absolute;
  top: 48vh;
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 0.8rem;
  line-height: 0.8;
}
.hero__ttl--small {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
}
@media screen and (max-width: 768px) {
  .hero__ttl--small {
    font-size: 8vw;
  }
}
@media screen and (max-width: 768px) {
  .hero__ttl {
    font-size: 12.8vw;
  }
}
@media screen and (max-width: 500px) {
  .hero__ttl {
    top: 56vh;
  }
}
@keyframes img_anime {
  0% {
    background-image: url(../img/dummy01.png);
  }
  20% {
    background-image: url(../img/dummy01.png);
  }
  35% {
    background-image: url(../img/dummy02.png);
  }
  53% {
    background-image: url(../img/dummy02.png);
  }
  68% {
    background-image: url(../img/dummy03.png);
  }
  85% {
    background-image: url(../img/dummy03.png);
  }
  100% {
    background-image: url(../img/dummy01.png);
  }
}

/* scroll
---------------------------------------------------------- */
.scroll {
  color: #fff;
  position: relative;
  writing-mode: vertical-rl;
  bottom: 200px;
  margin: 0 0 0 auto;
}
@media screen and (max-width: 768px) {
  .scroll {
    bottom: 120px;
  }
}
.scroll::after {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: #fff;
  right: 50%;
  bottom: -184px;
  transform: translateX(-50%);
  width: 0.5px;
  height: 160px;
  animation: scroll 3s infinite;
}
@media screen and (max-width: 768px) {
  .scroll::after {
    height: 80px;
    bottom: -96px;
  }
}
.scroll__font {
  font-size: 0.625rem;
}
@keyframes scroll {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

/* portfolio, aboutme 共通
---------------------------------------------------------- */
.inview {
  transform: translateY(32px);
  opacity: 0;
  transition: transform 1s, opacity 1s;
}
.inview.show {
  transform: translateY(0);
  opacity: 1;
}

/* portfolio
---------------------------------------------------------- */
.portfolio {
  overflow-x: hidden;
}
.portfolio .d-flex {
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.4vh;
}
@media screen and (max-width: 768px) {
  .portfolio .d-flex {
    flex-wrap: wrap;
  }
}
.portfolio__group01 {
  max-width: 272px;
}
@media screen and (max-width: 768px) {
  .portfolio__group01 {
    width: 40.54vw;
  }
}
.portfolio__group01:hover {
  cursor: pointer;
}
.portfolio__group01 a {
  position: relative;
  overflow: hidden;
  display: block;
}
.portfolio__group01 a::before, .portfolio__group01 a::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  margin: auto;
  transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
  opacity: 0;
}
.portfolio__group01 a::before {
  background: rgba(35, 23, 27, 0.8);
  width: 100%;
  height: 100%;
}
.portfolio__group01 a::after {
  color: #fff;
  font-family: "Raleway", sans-serif;
  content: "Name Card";
  font-size: 1rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2rem;
  bottom: 0;
  right: 0;
}
.portfolio__group01 a:hover::before, .portfolio__group01 a:hover::after {
  opacity: 1;
}
.portfolio__group01--wrap {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.portfolio__group01--title {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.6rem;
  padding: 2.5rem 0;
}
@media screen and (max-width: 768px) {
  .portfolio__group01--title {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding: 1.5rem 0;
  }
}
.portfolio__group01--data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2.5rem;
}
@media screen and (max-width: 768px) {
  .portfolio__group01--data {
    gap: 0;
    padding-bottom: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .portfolio__group01--dataTxt {
    font-size: 0.75rem;
  }
}
.portfolio__group01--disc {
  line-height: 2;
  padding-bottom: 2.5rem;
}
.portfolio__group01--attention {
  text-align: center;
  padding-bottom: 2rem;
}
.portfolio__group01--attention a {
  display: inline-block;
  font-size: 0.875rem;
  border: 1px solid #23171B;
  position: relative;
  background: #fff;
  color: #23171B;
  border: 2px solid #23171B;
  padding: 0.4rem 4rem 0.4rem 1.4rem;
  transition: all 0.3s;
}
.portfolio__group01--attention a:after {
  content: "";
  position: absolute;
  display: block;
  transition: all 0.3s;
  width: 7px;
  height: 18px;
  top: 50%;
  right: 2.5rem;
  box-shadow: 2px -2px 0 #fff;
  border-top: solid 2px #23171B;
  border-right: solid 2px #23171B;
  transform: translateY(-50%) rotate(45deg) skewX(-45deg);
}
.portfolio__group01--attention a:hover:after {
  right: 5px;
  height: 40px;
}
.portfolio__group01--attentionTxt {
  font-size: 0.75rem;
  padding-bottom: 1rem;
}
.portfolio__group02 {
  max-width: 272px;
}
@media screen and (max-width: 768px) {
  .portfolio__group02 {
    width: 40.54vw;
  }
}
.portfolio__group02:hover {
  cursor: pointer;
}
.portfolio__group02 a {
  position: relative;
  overflow: hidden;
  display: block;
}
.portfolio__group02 a::before, .portfolio__group02 a::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  margin: auto;
  transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
  opacity: 0;
}
.portfolio__group02 a::before {
  background: rgba(35, 23, 27, 0.8);
  width: 100%;
  height: 100%;
}
.portfolio__group02 a::after {
  color: #fff;
  font-family: "Raleway", sans-serif;
  content: "Photo contest";
  font-size: 1rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2rem;
  bottom: 0;
  right: 0;
}
.portfolio__group02 a:hover::before, .portfolio__group02 a:hover::after {
  opacity: 1;
}
.portfolio__group02--wrap {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.portfolio__group02--title {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.6rem;
  padding: 2.5rem 0;
}
@media screen and (max-width: 768px) {
  .portfolio__group02--title {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    padding: 1.5rem 0;
  }
}
.portfolio__group02--data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2.5rem;
}
@media screen and (max-width: 768px) {
  .portfolio__group02--data {
    gap: 0;
    padding-bottom: 1.5rem;
  }
}
@media screen and (max-width: 768px) {
  .portfolio__group02--dataTxt {
    font-size: 0.75rem;
  }
}
.portfolio__group02--disc {
  line-height: 2;
  padding-bottom: 2.5rem;
}
.portfolio__group02--attention {
  text-align: center;
  padding-bottom: 2rem;
}
.portfolio__group02--attention a {
  display: inline-block;
  font-size: 0.875rem;
  border: 1px solid #23171B;
  position: relative;
  background: #fff;
  color: #23171B;
  border: 2px solid #23171B;
  padding: 0.4rem 4rem 0.4rem 1.4rem;
  transition: all 0.3s;
}
.portfolio__group02--attention a:after {
  content: "";
  position: absolute;
  display: block;
  transition: all 0.3s;
  width: 7px;
  height: 18px;
  top: 50%;
  right: 2.5rem;
  box-shadow: 2px -2px 0 #fff;
  border-top: solid 2px #23171B;
  border-right: solid 2px #23171B;
  transform: translateY(-50%) rotate(45deg) skewX(-45deg);
}
.portfolio__group02--attention a:hover:after {
  right: 5px;
  height: 40px;
}
.portfolio__group02--attentionTxt {
  font-size: 0.75rem;
  padding-bottom: 1rem;
}
.portfolio .iziModal {
  overflow-y: hidden !important;
}
.portfolio .iziModal-navigate-caption {
  display: none;
}

/* about me
---------------------------------------------------------- */
.aboutme .d-flex {
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}
@media screen and (max-width: 768px) {
  .aboutme .d-flex {
    flex-direction: column;
    align-items: center;
  }
}
.aboutme__txtCnt {
  width: 48%;
}
@media screen and (max-width: 768px) {
  .aboutme__txtCnt {
    width: 100%;
  }
}
.aboutme__txtCnt--ttl {
  font-size: 1.25rem;
  padding-bottom: 1.5rem;
  letter-spacing: 0.6rem;
}
@media screen and (max-width: 768px) {
  .aboutme__txtCnt--ttl {
    font-size: 4.8vw;
    letter-spacing: 0.4rem;
  }
}
.aboutme__txtCnt--mainTxt {
  line-height: 2;
}
.aboutme__linkArea {
  padding-top: 2.5rem;
  font-size: 0.875rem;
}
.aboutme__linkArea--link:not(:first-child) {
  margin-top: 0.5rem;
  display: flex;
}
.aboutme__linkArea--link01 {
  width: 0.75em;
  height: 0.75em;
}
.aboutme__linkArea .label-add {
  padding-right: 0.4em;
}
.aboutme__linkArea .tooltip-toggle {
  cursor: pointer;
  position: relative;
}
.aboutme__linkArea .tooltip-toggle img {
  width: 1em;
  height: 1em;
}
.aboutme__linkArea .tooltip-toggle::before {
  position: absolute;
  top: -34px;
  left: -72px;
  background-color: #23171B;
  border-radius: 5px;
  color: #fff;
  content: attr(aria-label);
  padding: 0.5em;
  text-transform: none;
  transition: all 0.5s ease;
  width: 160px;
}
@media screen and (max-width: 500px) {
  .aboutme__linkArea .tooltip-toggle::before {
    top: -30px;
    width: 136px;
  }
}
.aboutme__linkArea .tooltip-toggle::after {
  position: absolute;
  top: -8px;
  left: 4px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #23171B;
  content: "";
  font-size: 0;
  line-height: 0;
  margin-left: -5px;
  width: 0;
}
.aboutme__linkArea .tooltip-toggle::before, .aboutme__linkArea .tooltip-toggle::after {
  color: #fff;
  font-size: 0.75rem;
  opacity: 0;
  pointer-events: none;
  text-align: center;
}
@media screen and (max-width: 500px) {
  .aboutme__linkArea .tooltip-toggle::before, .aboutme__linkArea .tooltip-toggle::after {
    font-size: 0.625rem;
  }
}
.aboutme__linkArea .tooltip-toggle:focus::before, .aboutme__linkArea .tooltip-toggle:focus::after, .aboutme__linkArea .tooltip-toggle:hover::before, .aboutme__linkArea .tooltip-toggle:hover::after {
  opacity: 1;
  transition: all 0.75s ease;
}
.aboutme__img {
  width: 48%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .aboutme__img {
    width: 100%;
  }
}
.aboutme__img::before {
  content: "";
  position: absolute;
  border: 1px solid #ccc;
  top: 16px;
  left: 16px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .aboutme__img::before {
    top: 8px;
    left: 8px;
  }
}
.aboutme__nextTxt {
  position: relative;
  padding-top: 5.5rem;
}
.aboutme__nextTxt--circle01 {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #23171B;
}
.aboutme__nextTxt--circle02 {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #23171B;
  left: 24px;
}
.aboutme__nextTxt--circle03 {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #23171B;
  left: 48px;
}
.aboutme__nextTxt--ttl {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: -3rem;
  letter-spacing: 0.6rem;
  line-height: 1.4 !important;
}
.aboutme__nextTxt--txt {
  display: -webkit-box;
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.aboutme__nextTxt:has(:checked) p {
  display: block;
  padding-top: 5rem;
  margin-bottom: -8rem;
  line-height: 2;
}
.aboutme__nextTxt p::after {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 160px;
  background-color: #fffffe;
  content: "";
}
.aboutme__nextTxt:has(:checked) p::after {
  content: none;
}
.aboutme__nextTxt label {
  position: absolute;
  top: 5rem;
  left: 40px;
  transform: translateX(-50%);
  color: #23171B;
  font-size: 0.875rem;
}
.aboutme__nextTxt label:hover {
  color: #23171B;
  text-decoration: none;
  cursor: pointer;
  transition: transform 1s, opacity 1s;
}
.aboutme__nextTxt:has(:checked) label {
  display: none;
}
.aboutme__nextTxt input {
  display: none;
}

/* footer
---------------------------------------------------------- */
.footer {
  text-align: center;
  margin: 12.5rem 0 2.5rem;
}/*# sourceMappingURL=style.css.map */